@font-face {
    font-family: sans-serif;
}
h1 {
   font-family: sans-serif;
   color: white;
}
th{
    font-size: 100px;
}
td {
    font-size: 100px;
}
table{
    background-color: purple;
    color: white;
    font-size: 100px;
    margin-left: 500px;
}
.yes{
    font-family: sans-serif;
    background-color: lime;
}
.no {
    font-family: sans-serif;
    background-color: red;
}
html{
    background-color: mediumorchid;
}