.wide{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85px;
    background-color: black;
}
body{
    margin: 0px;
}
.wiide{
    display: flex;
    width: 900px;
    height: 100%;
    background-color: chartreuse;
}
.logo{
    margin: auto 0px;
    height: 50px;
    width: 100px;
    background-color: saddlebrown;
}
.lodo{
    margin-left: auto;
    background-color: salmon;
    height: 100%;
    width: 150px;
}
.hand{
    margin-left: 0px;
    background-color:red;
    height: 100%;
    width: 150px;
}
.--blue{
    background-color: blue;
}
