.background{
    width: 960px;
    height: 720px;
    background-color: red;
}
.row{
    height: 3px;
    width: 960px;
    display: flex;
}
.pixel{
    width: 3px;
    height: 3px;
}
.a1{
    background-color: blue;
}