.Box1{
    background-color: black;
    color: white;
    margin: 1%;
    width: 200px;
    height: 50px;
}
.Box2{
    background-color: black;
    color: white;
    padding: 16px;
    width: 200px;
    height: 50px;
}
.Box3{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: 8px;
    width: 200px;
    height: 50px;
}
.Box4{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: 8px;
    padding: 16px;
    margin: 1%;
    width: 200px;
    height: 50px;
}