body{
    margin: 0px;
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tablet{
    display: none;
}
.Mobile{
    display: none;
}
span, h1, h2{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 900;
}
@media only screen and (max-width: 900px){
    .Desktop{
        display: none;
    }
    .Tablet{
        display: block;
    }
}
@media only screen and (max-width: 500px){
    .Tablet{
        display: none;
    }
    .Mobile{
        display: block;
    }
}