body{
    margin: 0px;
}
.backgrund{
    background-image: url("backgrund.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: lightgrey;
    background-size: 2750px;
    animation-name: back-shadow;
    animation-duration: 5s;
    box-shadow: black 10px 10px 400px inset, black -10px -10px 400px inset;
}
@keyframes back-shadow{
    from {box-shadow: black 1200px 1200px 0px inset, black -1200px -1200px 0px inset;}
  to {box-shadow: black 10px 10px 400px inset, black -10px -10px 400px inset;}
}
.topbar{
    width: 900px;
    margin-top: 100px;
    position: relative;
    height: 400px;
    display: flex;
    background-image: url("banner.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    box-shadow: black 5px 5px 10px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: sans-serif;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 40px;
    margin-bottom: 0px;
}
a{
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: white;
    border-radius: 5px;
}
.button1{
    bottom: 1px;
    color: blue;
    border: blue 2px solid;
    left: 235px;
    margin-bottom: 16px;
    position: absolute;
}
.button1:hover{
      background-color: blue;
      color: white;
      transition: 250ms;
}
  .button2{
    bottom: 1px;
    color: black;
    border: black 2px solid;
    left: 330px;
    margin-bottom: 16px;
    position: absolute;
}
.button2:hover{
    background-color: black;
    color: white;
    transition: 250ms;
}
.button3{
    bottom: 1px;
    color: green;
    border: green 2px solid;
    left: 410px;
    margin-bottom: 16px;
    position: absolute;
}
.button3:hover{
    background-color: green;
    color: white;
    transition: 250ms;
}
.button4{
    bottom: 1px;
    color: red;
    border: red 2px solid;
    left: 530px;
    margin-bottom: 16px;
    position: absolute;
}
.button4:hover{
    background-color: red;
    color: white;
    transition: 250ms;
}
.imagebox{
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 500px;
    height: 281px;
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: black 5px 5px 10px;
}
.gp1{
    background-image: url("gp1.jpg");
}
.gp2{
    background-image: url("gp2.jpg");
}
.gp3{
    background-image: url("gp3.jpg");
}
.gp4{
    background-image: url("gp4.jpg");
}
.gp5{
    background-image: url("gp5.jpg");
    margin-right: auto;
    margin-left: auto;
}
.row{
    width: 100%;
    height: 33%;
    display: flex;
}
.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
h2,p{
    font-family: sans-serif;
    color: whitesmoke;
    text-shadow: black 2px 2px 4px;
    margin: 0px;
}
h2{
    font-size: 30px;
    color: whitesmoke;
}
p{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}
li{
    color: whitesmoke;
    font-weight: 900;
    font-family: sans-serif;
    text-shadow: black 2px 2px 4px;
    color: whitesmoke;
}
ul.a {
    list-style-type: square;
}