.box{
    display: flex;
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
}
body{
    margin: 0px;
}
.bild{
    background-image: url("cow.jpg");
    height: 350px;
    width: 350px;
    border: 40px solid white;
    border-radius: 100%;
    background-position: center;
    background-size: 400px 400px;
    box-shadow: 3px 3px 10px grey, inset 3px 3px 10px grey;
}