@font-face {
    font-family: sans-serif;
}
.button{
    font-family: sans-serif;
    border: 1px solid red;
    border-radius: 25px;
    text-decoration: none;
    color: red;
    padding: 0.5rem 2rem;
  }
  .button:hover { 
    color: white;
    background-color: red;
  }