body {
    margin: 0px;
  }
.sidebar{
  width: 26px;
  height: 97vh;
  border: 2px black solid;
  background-color: grey;
}
.kek{
  animation: openside 2s;
  width: 296px;
}
@keyframes openside{
  0%{width: 26px;}
  100%{width: 296px;}
}
.yep{
  animation: closeside 2s;
  width: 26px;
}
@keyframes closeside{
  0%{width: 296px;}
  100%{width: 26px;}
}