.Yes{
    width: 100%;
    height: 100vh;
    display: flex;
}
.box1{
    background-color: darkgrey;
    height: 100vh;
    width: 50%;
}
.box2{
    background-color: grey;
    height: 50vh;
    width: 50%;
}
.box3{
    background-color: lightgrey;
    height: 50vh;
    width: 50%;
}
body{
    margin: 0px;
}