body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 400px;
    height: 400px;   
    background-color: salmon;
    display: flex;
    animation: move 60s;
}
.box{
    height: 30px;
    width: 30px;
    background-color: blue;
}
.box:hover > .background{
    display: block;
    animation: move 60s;
}
@keyframes move{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}