body{
    margin: 0px;
    background-color: gold;
}
div.yes {
    margin-top: 50px;
    position: relative;
    margin-left: 30px;
    border: 3px solid black;
    width: 400px;
    height: 300px;
  }
  div.no{
      border: 3px solid salmon;
      position: absolute;
      right: 0;
  }