body{
    margin: 0px;
}
.Yes {
    height: 85px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wide{
    justify-content: space-between;
    width: 900px;
    background-color: black;
    height: 100%;
    display: flex;
}
.textbox{
    background-color: black;
    width: 25%;
    height: 100%;
}
h1, p{
    font-family: sans-serif;
}
h1{
    margin-top: 5%;
    font-weight: lighter;
    color: white;
    margin-bottom: 0px;
}
p{
    color: grey;
    font-size: 1.25rem;
    margin-top: 0px;
}
.--hover{
    font-size: 0.9rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    background-color: black;
    height: 95%;
    width: 100%;
}
.yes{
    display: flex;
}
.conbox{
    width: 100px;
    height: 100%;
}
.abobox{
    width: 100px;
    height: 100%;
}
.hombox{
    width: 100px;
    height: 100%;
}
.conbox{
    background-color: red;
}
.abobox:hover{
    background-color: red;
}
.hombox:hover{
    background-color: red;
}