body{
    margin: 0px;
}
.background{
    width: 1800px;
    height: 900px;
    background-color: aqua;
    display: flex;
}
.lodon{
    width: 20px;
    height: 20px;
    top: 400px;
    left: 100px;
    position: absolute;
    background-color: blue;
}