.card {
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    transition: box-shadow 0.25s;
    transition-delay: 1s;
}
.card:hover {
    box-shadow: 0 1rem 0.25rem rgba(0,0,0,0.5);
}